.outer-container {
  margin: 24px 40px 0 40px;
}

.player-form-container {
  margin-top: 24px;
}

.player-form {
  margin: 8px 8px 8px 8px;
}

.player-form-group {
  margin-bottom: 24px;
}

.player-form-element {
  display: block;
  //margin: auto;
}